@inject SignInManager<ApplicationUser>  signInManager;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />
    <environment include="Development">
        <link href="~/lib/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2shai"
              crossorigin="anonymous"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap-4.4.1-dist/css/bootstrap.css"
              asp-fallback-test-class="sr-Only"
              asp-fallback-test-property="Position"
              asp-fallback-test-value="Absolute"
              asp-suppress-fallback-integrity="true" />
    </environment>
    <link href="~/lib/fontawesome-free-5.12.1-web/css/all.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
    </style>
</head>
<body>
    <div class="content-body">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-dark">
                    <a class="navbar-brand bg-light" asp-controller="Home" asp-action="dashboard" style="border-radius:6px;padding:5px 10px">
                        <img src="~/images/img1.png" width="40" height="40" alt="" />
                        Employee Management System
                    </a>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <div class="navbar">
                                <form method="post" asp-action="Logout" asp-controller="Account">
                                    <button class=" nav-item  btn btn-link py-0" style="width:auto;font-size:20px;color:white">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="navbar">
                <a  asp-controller="Account" class="nav-item " style="padding: 10px 20px 10px 20px;" asp-action="Login" ><i class="fas fa-sign-in-alt"></i>&nbspLogin</a>
                <a  asp-controller="Account" class="nav-item " style="padding: 10px 20px 10px 20px;" asp-action="Register">Register</a>
            </div>
                        }
                    </ul>
                   
        </nav>
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-2 bg-dark" style="height:800px">
                    <span style="color:white;opacity:0.5">_________________________________</span>
                    <div class="sidebar_button pt-3">
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                        <a class="nav-item nav-link" asp-controller="Administrator" asp-action="CreateRole">Create Role</a>
                        <a class="nav-item nav-link" asp-controller="Administrator" asp-action="ListRole">Employ Roles</a>
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="index">Employee List</a>
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="Create">Add Employee</a>
                    </div>
                </div>

                <div class="col-9 pt-3 ml-3">

                    <h1 class="mt-3">@ViewBag.Title</h1>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }
    <script src="~/lib/bootstrap-4.4.1-dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>

</body>
</html>
